.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }

  .btn-background {
    background-color: #ff6600; /* Replace with your desired background color */
    color: white; /* Ensures text is readable */
}

.btn-background:hover {
    background-color: #cc5500; /* Darker color for hover effect */
}
